.image-carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    @include sm {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 53.4rem minmax(min-content, 1fr);
        background-color: transparent;
    }

    @include xs {
        grid-template-rows: 36rem minmax(min-content, 1fr);
    }

    &:hover {
        .arrow-btn--left {
            left: 0;
        }
        .arrow-btn--right {
            right: 0;
        }
    }

    &__container {
        display: flex;
        transform: translateX(0);
        transition: transform .5s ease-in-out;

        @include sm {
            grid-column: 1 / -1;
            grid-row: 1 / span 2;
        } 
    }

    .slide {
        flex: 0 0 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;

        display: grid;
        grid-template-columns: 59% 41%;
        grid-template-rows: min-content; 

        @include sm {
            grid-template-columns: 1fr;
            grid-template-rows: 53.4rem min-content; 
        }

        @include xs {
            grid-template-rows: 36rem min-content; 
        }

        &--1 {
            .slide__image {
                background-image: url(assets/images/mobile-image-hero-1.jpg);
            }
        }

        &--2 {
            .slide__image {
                background-image: url(assets/images/mobile-image-hero-2.jpg);
            }
        }

        &--3 {
            .slide__image {
                background-image: url(assets/images/mobile-image-hero-3.jpg);
            }
        }
        
        &__image {
            width: 100%;
            min-height: 57.61vh;

            grid-column: 1 / span 1;
            grid-row: 1 / span 1; 
            position: relative;

            @include sm {
                min-height: 0;
                height: 53.4rem;
                grid-column: 1 / -1;
            }

            @include xs {
                height: 36rem;
            }

            @include xxs {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include xxs {
                    display: none;
                }
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba($black, .1);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        &__content {
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            align-self: center;
            z-index: 1; 

            max-width: 27.5vw;
            margin: 0 auto;
            margin-top: -5vh;

            @include lg {
                max-width: 30vw;
            }

            @include sm {
                grid-column: 1 / -1;
                grid-row: 2 / span 1; 
                align-self: start;
                
                margin: 0;
                min-width: 0;
                max-width: 100%;
                width: 100%;
                padding: 6rem 3.5rem;
            }
        }

        &__heading {
            font-size: 3.2vw;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -.15vh;

            @include md {
                font-size: 3.5vw;
            }

            @include sm {
                font-size: 3.5rem;
                letter-spacing: -.15rem;
                margin-top: 0;
            } 
        }

        &__description {
            font-size: 1.6vh;
            margin-bottom: 2vh;

            @include sm {
                font-size: 1.6rem;
                margin-bottom: 2rem;
            } 
        }
    }

    .arrow-btn {
        display: block;
        width: 8.6vh;
        height: 8.6vh;
        background-color: $black;
        cursor: pointer;
        transition: .3s all ease;
        position: relative;

        @include sm {
            width: 5.6rem;
            height: 5.6rem;
        }

        &:hover {
            background-color: $very_dark_gray;
            .arrow {
                border-color: $white;
            }
        }
    }

    .arrow {
        border: solid $white;
        border-width: 0 .1rem .1rem 0;
        display: inline-block;
        padding: 1vh;
        position: absolute;
        top: 50%; 
        transition: border-color .3s ease;

        @include sm {
            padding: .6rem;
        }

        &--right {
            right: 50%;
            transform: rotate(-45deg) translateX(50%);
            margin-top: -.4vh;
            margin-right: .4vh;

            @include sm {
                margin-top: -.25rem;
                margin-right: .4rem;
            }
          }
          
        &--left {
            right: 50%;
            transform: rotate(135deg) translateX(-50%);
            margin-top: -.4vh;
            margin-right: -.4vh;

            @include sm {
                margin-top: -.25rem;
                margin-right: -.4rem;
            }
        }
    }

     
    &.fade {
        .image-carousel__container {
            transition: none;
        }

        .slide {
            opacity: 0;
            transition: opacity .5s ease-out;

            &.active {
                opacity: 1;
            }
        }
    }

    &__controlls {
        display: grid;
        grid-template-columns: 59% 41%;
        grid-template-rows: 0;
        align-items: end;

        @include sm {
            grid-column: 1 / -1;
            grid-row: 1 / span 1;

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            align-items: end;
        } 

        .arrow-controlls {
            grid-column: 2 / span 1;
            justify-self: start;
            display: flex;
            margin-top: -8rem;
            background-color: $black;

            @include sm {
                transform: translateX(0);
                margin-top: 0;
            } 
        }
    }

}